body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    color: white;
}


#banner .content h4 {
  color: white;
  font-size: 66px;
  font-weight: 4000;
  padding: 20px 10px;



}
#banner .content .responses{

  margin: 80px 150px;
  padding: 120px;
  font-size: 36px;
    background-image: url("https://images.pexels.com/photos/8892/pexels-photo.jpg");


}


.button button{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 40px 80px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin-left: 800px;
    margin-bottom: 60px;
}
